.mujer {
  background-color: #6801493f;
}

.hombre {
  background-color: #0301683f;
}
.btn1{
  float:right;
}
.headers{
  text-align: center;
}
.icons{
  float:right;
  width: 60px;
  height: 60px;
}
.salir{
  width:auto;
  float: right;
}
.btn{
  width: 100%;
}
